*{
    margin: 0;
    padding: 0;
    background-color: #e9a7e0;
    
}
body{
    
    color: rgb(0, 0, 0);
}
header{
    padding: 30px;
    background-color: #660359;
    display: flex;
}
h1{
    background-color: #660359;
    text-align: justify;
    color: rgb(252, 252, 252);
    margin: 40px;
}
h3{
    text-align: right;
    background-color: #660359;
    color: #f59de9;
}

#box{
    border-radius: 5px;
    float: left;
    margin-right: 40px;
}
#para{
    font-weight: 500;
    font-size: 40px;
    padding: 20px;

}
#charu {
font-size: 30px;
}
#box1 {
margin: 50px;
float: right;
width: 300px;
}
#box2{
margin-top: 80px;
}
footer{
    background-color: gray;
    margin: 30px;
}
